@using MaisGanha.LojaVirtual.Web.HtmlHelpers
@model MaisGanha.LojaVirtual.Web.Models.ProdutosViewModel

@foreach (var prod in Model.Produtos)
{
    @Html.Partial("_ProdutoDetalhes", prod)
}           
<div class="btn-group pull-right">
    @Html.PageLinks(Model.paginacao, x => Url.Action("ListaProdutos", new { pagina = x }))
</div>


